@model AfluexSchool.Models.Reports

@{
    ViewBag.Title = "DueInstallmentReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("DueInstallmentReport", "AdminReports", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div>
        <div class="card border-0 shadow-sm mb-4">
            <div class="card-header border-0 bg-none">
                <div class="row">
                    <div class="col-12 col-md">
                        <p class="fs15">Due Installment Report</p>
                    </div>
                </div>
            </div>
            <div class="card-body ">

                <div class="row">
                    <div class="col-md-3">
                        <label> Date</label>
                        @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control" })
                    </div>
                </div>
                <div class="card-footer text-left">

                    <div class="col-md-2">
                        <input type="submit" class="btn btn-info" name="btnsearch" id="btnsearch" value="Search" />
                    </div>
                </div>


                <div class="col-sm-12">
                    <table class="table table-bordered w-100 mb-0" id="example23">
                        <thead>
                            <tr>
                                <th>S.no</th>
                                <th>Student Name</th>
                                <th>Mobile</th>
                                <th>Due Amount</th>

                            </tr>

                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.lstfeedata != null)
                                {
                                    int i = 1;
                                    foreach (var item in Model.lstfeedata)
                                    {

                                        <tr>
                                            <td>
                                                @i

                                            </td>

                                            <td>
                                                @item.DisplayName

                                            </td>

                                            <td>
                                                @item.Mobile

                                            </td>

                                            <td>
                                                @item.Amount

                                            </td>

                                        </tr>
                                        i++;
                                    }
                                }
                            }
                        </tbody>
                    </table>


                    <div class="j-response"></div>

                </div>



            </div>
        </div>
    </div>


}


<script src="../../scripts/jquery-1.10.2.min.js"></script>
<script src="../../Scripts/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">


<script>




    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
        yearRange: '1950:2029'
    });

    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
        yearRange: '1950:2029'
    });


    function OnchangeSection() {
        //$("#divload").css({ 'display': '' });
        var value = $('#Fk_ClassID').val();
        //var values = $('#SectionName').val();
        //alert(value);
        $.ajax({
            url: "/AdminReports/GetSectionByClass",
            Type: "Get",
            DataType: "JSON",
            data: { Fk_ClassID: value },
            success: function (data) {
                //$("#divload").css({ 'display': 'none' });
                $("#Fk_SectionID").html(""); // clear before appending new list
                $("#Fk_SectionID").empty();
                $("#Fk_SectionID").append(
                      $('<option></option>').val(0).html('Select Section'));
                $.each(data.ddlsection, function (index, Sectioncount) {
                    $("#Fk_SectionID").append(
                          $('<option></option>').val(Sectioncount.Value).html(Sectioncount.Text));

                });

            }
        });

    }


</script>