@model AfluexSchool.Models.SendSMS

@{
    ViewBag.Title = "SMSTemplate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fcbdbd !important;
    }
</style>

@using (Html.BeginForm("SMSTemplate", "SMS", FormMethod.Post, new { @id = "SMSTemplateid" }))
{
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3><b>SMS Template</b></h3>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">SMS</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">SMS Template</a></li>
                </ol>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-body">
                <p style="color:red">
                    @TempData["SMSTemplate"]
                </p>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label> Template Name <span style="color: red">*</span></label>
                            @Html.TextBoxFor(m => m.TemplateName, new { @class = "form-control", @placeholder = "Template Name" })
                            @Html.HiddenFor(m => m.PK_TemplateId, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-4">
                            <label>Message</label>
                            @Html.TextAreaFor(m => m.Msg, new { @class = "form-control", @placeholder = "Message" })
                        </div>
                        <div class="form-group col-md-4">
                            <label class="d-block">&nbsp;</label>
                            @if (Model.PK_TemplateId == null)
                            {
                                <input type="submit" class="btn btn-success" value="Save" name="SaveSMSTemplate" onclick="return validate();" />
                            }
                            else
                            {
                                <input type="submit" class="btn btn-success" value="Update" name="UpdateSMSTemplate" onclick="return validate();" />
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

}

<script>


    function validate() {
        $(".errortext").removeClass('errortext');
        if ($("#TemplateName").val() == "") {
            $("#TemplateName").addClass('errortext');
            $("#TemplateName").focus();
            return false;
        }
    }
</script>


