@model AfluexSchool.Models.Hostel

@{
    ViewBag.Title = "HostelList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 
@using (Html.BeginForm("ExamTypeList", "Exam", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3><b>Hostel List</b></h3>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Hostel</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Hostel List</a></li>
                </ol>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-body">
                <p style="color:red">
                    @TempData["HostelList"]
                </p>
                
                <div class="table-responsive mt-3">
                    <table id="example5" class="display table" style="min-width:845px">
                        <thead>
                            <tr>
                                <th>S No.</th>
                                <th>Hostel Type Name</th>
                                <th>Name</th>
                                <th style="display:@ViewBag.IsEdit;">Edit</th>
                                <th style="display:@ViewBag.IsDelete;">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.lstHostel != null)
                                {
                                    int i = 1;
                                    foreach (var item in Model.lstHostel)
                                    {
                                        <tr>
                                            <td>
                                                @i
                                            </td>
                                            <td>@item.TypeName</td>
                                            <td>@item.HostelName</td>
                                            <td style="display:@ViewBag.IsEdit;">
                                                <a href="/Hostel/HostelEntry?Pk_HostelId=@item.Pk_HostelId"><i class="btn btn-success">Edit</i></a>
                                            </td>
                                            <td style="display:@ViewBag.IsDelete;"><a href="/Hostel/DeleteHostel?Pk_HostelId=@item.Pk_HostelId" onclick="return confirm('Are you sure want to delete?')"><i class="btn btn-danger">Delete</i></a></td>
                                        </tr>
                                        i++;
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
}


