@model AfluexSchool.Models.Fee

@{
    ViewBag.Title = "FeeType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .errortext{
        border:1px solid red!important;
        background-color:#f8a6a6!important;
    }
</style>

@using (Html.BeginForm("FeeType", "Fee", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3><b>Fee Type</b></h3>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Fee</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Add Fee Type</a></li>
                </ol>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-body">
                <p style="color:red">
                    @TempData["Fee"]
                </p>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Fee Type<span style="color: red">*</span></label>
                            @Html.TextBoxFor(m => m.FeeTypeName, new { @class = "form-control", @Placeholder = "Fee Type Name" })
                            @Html.HiddenFor(m => m.PK_FeeTypeID)
                        </div>
                        <div class="form-group col-md-3">
                            <label class="d-block">&nbsp;</label>
                            @if (Model.PK_FeeTypeID == null)
                            {
                                <input type="submit" class="btn btn-success" onclick="return validateform();" name="btnSave" id="btnSave" value="Save" />
                            }
                            else
                            {
                                <input type="submit" class="btn btn-success" onclick="return validateform();" name="btnupdate" id="btnupdate" value="Update" />
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

}

<script>
   

    function validateform() {
        $(".errortext").removeClass("errortext");
        if ($('#FeeTypeName').val() == '') {
            $("#FeeTypeName").addClass('errortext');
            $('#FeeTypeName').focus();
            return false;
        }

        return true;
    }


</script>

