@model AfluexSchool.Models.Master

@{
    ViewBag.Title = "AreaMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .errortext{
        border:1px solid red!important;
        background-color:#fabfbf!important;
    }
</style>

@using (Html.BeginForm("AreaMaster", "Master", FormMethod.Post, new { @id = "AreaMaster" }))
{
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3><b>Area Master</b></h3>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Vehicle</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Area Master</a></li>
                </ol>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-body">
                <p style="color:red">
                    @TempData["AreaMaster"]
                </p>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Area Name<span style="color: red">*</span></label>
                            @Html.TextBoxFor(m => m.AreaName, new { @class = "form-control", @placeholder = "Area Name" })
                            @Html.HiddenFor(m => m.PK_AreaMasterID, new { @class = "form-control" })
                        </div>
                        <div class="form-group  col-md-4">
                            <label>Amount<span style="color: red">*</span></label>
                            @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @placeholder = "Amount", @onkeypress = "return validNumber(event)" })
                        </div>
                        <div class="form-group col-md-4">
                            <label class="d-block">&nbsp;</label>
                            @if (Model.PK_AreaMasterID == null)
                            {
                                <input type="submit" class="btn btn-success" value="Save" name="SaveAreaMaster" onclick="return fvalidate();" />

                            }
                            else
                            {
                                <input type="submit" class="btn btn-success" value="Update" name="UpdateAreaMaster" onclick="return fvalidate();" />

                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

}

<script>

    function fvalidate() {
        $(".errortext").removeClass('errortext');
        if ($("#AreaName").val() == "") {
            $("#AreaName").addClass('errortext');
            $("#AreaName").focus();
            return false;
        }
         if ($("#Amount").val() == "") {
            $("#Amount").addClass('errortext');
            $("#Amount").focus();
            return false;
        }
    }


    function validNumber(event) {
        var charCode = (event.which) ? event.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }


</script>



