@model AfluexSchool.Models.Master

@{
    ViewBag.Title = "Section";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .errortext{
        border:1px solid red!important;
        background-color:#fcc3c3!important;
    }
</style>

@using (Html.BeginForm("Section", "Master", FormMethod.Post, new { @id = "Class" }))
{
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3><b>Section</b></h3>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Masters</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Add Section</a></li>
                </ol>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-body">
                <p style="color:red">
                   @TempData["Section"]
                </p>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Class Name<span style="color: red">*</span></label>
                            @Html.DropDownListFor(m => m.Pk_ClassId, new SelectList(ViewBag.ddlClassName, "Value", "Text"), new { @class = "form-control" })
                            @Html.HiddenFor(m => m.PK_SectionId, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-4">
                            <label>Section Name<span style="color: red">*</span></label>
                            @Html.TextBoxFor(m => m.SectionName, new { @class = "form-control", @placeholder = "Section Name" })
                        </div>
                        <div class="form-group col-md-4">
                            <label class="d-block">&nbsp;</label>
                            @if (Model.PK_SectionId == null)
                            {
                                <input type="submit" class="btn btn-success" value="Save" name="SaveSection" onclick="return fvalidate();" />
                            }
                            else
                            {
                                <input type="submit" class="btn btn-success" value="Update" name="UpdateSection" onclick="return fvalidate();" />
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
}

<script>

    function fvalidate() {

        $('.errortext').removeClass('errortext');
        if ($("#Pk_ClassId").val() == 0) {
            $("#Pk_ClassId").addClass('errortext');
            $("#Pk_ClassId").focus();
            return false;
        }
        if ($("#SectionName").val() == "") {
            $("#SectionName").addClass('errortext');
            $("#SectionName").focus();
            return false;
        }

    }
</script>


