@model AfluexSchool.Models.Master

@{
    ViewBag.Title = "SessionList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("SessionList", "Master", FormMethod.Post, new { @id = "SessionList" }))
{
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3><b>Session List</b></h3>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Masters</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Session List</a></li>
                </ol>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-body">
                <p style="color:red">
                    @TempData["SessionList"]
                </p>
                <div class="table-responsive">
                    <table id="example5" class="display table" style="min-width:845px">
                        <thead>
                            <tr>
                                <th>Sr.No.</th>
                                <th>Session Name</th>
                                <th>Status</th>
                                <th style="display:@ViewBag.IsDelete" class="station-12">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.sessionLst != null)
                                {
                                    var i = 1;
                                    foreach (var item in Model.sessionLst)
                                    {
                                        <tr role="row">
                                            <td>@i</td>
                                            <td>@item.SessionName</td>
                                            <td>
                                                @if (item.isDeleted == "False")
                                                {
                                                    <div class="btn-danger btn btn-sm">In-Active</div>
                                                }
                                                else
                                                {
                                                    <div class="btn-success btn btn-sm">Active</div>
                                                }
                                            </td>
                                            <td class="station-12">
                                                @if (item.isDeleted == "False")
                                                {
                                                    <a style="display:@ViewBag.IsDelete" href="/Master/DeletingSession?Pk_SessionId=@item.Pk_SessionId" class="btn btn-success btn-sm" onclick="return confirm('Are you sure want to Activate?')">Activate</a>
                                                }
                                                else
                                                {

                                                }

                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
}
<script src="../../scripts/jquery-1.10.2.min.js"></script>
<script>

    function printData() {
        
        var divToPrint = document.getElementById("example24");
        newWin = window.open("");
        newWin.document.write(divToPrint.outerHTML);
        newWin.print();
        newWin.close();
    }
</script>

