@model AfluexSchool.Models.Exam

@{
    ViewBag.Title = "ExamType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .errortext{
        border:1px solid red!important;
        background-color:#f8cdcd!important;
    }
</style>

@using (Html.BeginForm("ExamType", "Exam", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3><b>Exam Type</b></h3>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Exam</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Exam Type</a></li>
                </ol>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-body">
                <p style="color:red">
                    @TempData["ExamType"]
                </p>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Exam Type<span style="color: red">*</span></label>
                            @Html.TextBoxFor(m => m.ExamTypeName, new { @class = "form-control", @placeholder = "Exam Type Name" })

                            @Html.HiddenFor(m => m.Pk_ExamTypeId, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-3">
                            <label class="d-block">&nbsp;</label>
                            @if (Model == null)
                            {
                                <input type="submit" id="btnSave" class="btn btn-success" onclick="return validateform();" name="btnSave" value="Add" />
                            }
                            else
                            {
                                <input class="btn btn-success" type="submit" value="Update" onclick="return validateformUpdate();" name="btnUpdate" id="btnUpdate" />
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
}
<script src="../../scripts/jquery-1.10.2.min.js"></script>
<script>

    function validateform() {
        $(".errortext").removeClass("errortext");
        if ($('#ExamTypeName').val() == '') {
            $("#ExamTypeName").addClass('errortext');
            $('#ExamTypeName').focus();
            return false;
        }
        return true;
    }
    function validateformUpdate() {
        $(".errortext").removeClass("errortext");
        if ($('#ExamTypeName').val() == '') {
            $("#ExamTypeName").addClass('errortext');
            $('#ExamTypeName').focus();
            return false;
        }

        $.ajax({
            url: '/ExamType/UpdateExamType',
            type: 'GET',
            dataType: 'JSON',
            data: {
                'Pk_ExamTypeId': $("#Pk_ExamTypeId").val(), 'ExamTypeName': $("#ExamTypeName").val(),
            },
            success: function (data) {
                alert(data.Result);
                window.location.href = '@Url.Action("ExamTypeList", "ExamType")';
            }
        });
    }
</script>
