.aims-main-page {
    padding: 170px 0px;
}
.main-heading h1 {
    font-size: 70px;
    text-align: center;
}
.main-desc h3 {
    padding: 25px 0px;
    text-align: center;
    font-size:27px;
}
.social-icon {
    text-align: center;
    margin-top: 25px;
}
.social-icon ul li {
    display: inline-block;
}
.main-social h2 {
    text-align: center;
}
.social-icon ul li a {
    font-size: 13px;
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    line-height: 44px;
    text-align: center;
    color: #fff;
    transition: all .3s ease 0s;
    background: #92278F;
}