
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}
<div class="welcome-message module" style="margin-top:60px;">
    <div class="row">
        <div class="medium-6 small-12 columns grouppic">
            <a href="#"><img src="../../Websitecss/images/help/education_bg.jpg" alt="Education Background" class="img hvr-rectangle-out" /></a>
        </div><!-- Left Column /-->
        <div class="medium-6 small-12 columns">
            <h2>Welcome to <span>Afluex Educational Demo</span></h2>
            <h3>We are eager to give you best Education</h3>
            <p class="text-justify" style="font-weight:500; font-size: 15px;">The  mission of Afluex Educational Demo is to create a better future for all children. We achieve this by maximising opportunities for children through holistic, values-based education of the highest quality and through initiatives that promote unity and meaningful social action for development. It  focuses more on inspiring and preparing human potential for greater service to the world of humanity and to assist them to become leaders and job creators before followers and job seekers</p>

            <p class="text-justify"> In its drive to enhance the sense of moral purpose of its students in protecting the environment and sustaining its natural resources, our school took multiple approaches to involve young minds in ecological projects.Our school is a vision, a dream of excellence in affordable education. It is the most integrated multidisciplinary institution providing a wide and varied arena for the staff and student communities to showcase their academic and extra-curricular talents. Students are encouraged to build their character through sports and other physical and spiritual development activities.We believe in the complete development of our students and encourage them by providing the best of incentives and infrastructure.We also believe Education is not just a bundle of books or curriculum but also interaction with the world around us. The education given in class rooms needs to be assisted by practical demonstrations and real life experiences.The infrastructure and facilities available are important factors when it comes to education and all round development of the students. We always endeavour to provide the best amenities to the students and our faculty which without doubt is well qualified for their role.</p>

        </div>
    </div><!-- Row /-->
</div>