
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}
 <!-- breadcrumb-area -->
<section class="breadcrumb-area d-flex  p-relative align-items-center" style="background-image: url('../../AssetsWeb/img/bg/bdrc-bg.png'); ">

    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-12 col-lg-12">
                <div class="breadcrumb-wrap text-left">
                    <div class="breadcrumb-title">
                        <h2>About Us</h2>
                    </div>
                </div>
            </div>
            <div class="breadcrumb-wrap2">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/home/index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                    </ol>
                </nav>
            </div>

        </div>
    </div>
</section>
<!-- breadcrumb-area-end -->
  <!-- about-area -->
<section class="about-area about-p pt-120 pb-120 p-relative fix" style="background-image:url(~/AssetsWeb/img/bg/admission_bg.png); background-repeat: no-repeat; background-position: top;">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="s-about-img p-relative  wow fadeInLeft animated" data-animation="fadeInLeft" data-delay=".4s">
                    <img src="~/AssetsWeb/img/features/about_img.png" alt="img">
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="about-content s-about-content pl-15 wow fadeInRight  animated" data-animation="fadeInRight" data-delay=".4s">
                    <div class="about-title second-title pb-25">
                        <h2>WELCOME TO AFLUEX EDUCATIONAL DEMO</h2>
                    </div>
                    <p class="txt-clr">We Are Eager To Give You Best Education</p>
                    <p>
                        The mission of Afluex Educational Demo is to create a better future for all children. We achieve this by maximising opportunities for children through holistic, values-based education of the highest quality and through initiatives that promote unity and meaningful social action for development. It focuses more on inspiring and preparing human potential for greater service to the world of humanity and to assist them to become leaders and job creators before followers and job seekers
                    </p>
                    <div class="slider-btn mt-20">
                        <a href="about.html" class="btn ss-btn smoth-scroll">Read More <i class="fal fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- about-area-end -->