
@{
    ViewBag.Title = "Admission";
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}
<div class="welcome-message module" style="margin-top:60px;">
    <div class="row">
        <div class="medium-6 small-12 columns grouppic">
            <h3 class="text-center">Download Admission form front &nbsp;<i class="fa fa-download"></i> &nbsp;</h3>
            <a href="../../Websitecss/images/help/admissionform1.jpg" download="admissionform1">
                <img src="../../Websitecss/images/help/admissionform1.jpg" class="img-responsive">
            </a>
            <!-- <a  href="src="../../Websitecss/images/help/admissionform1.jpg"  download><img src="../../Websitecss/images/help/admissionform1.jpg" alt="Education Background" class="img hvr-rectangle-out" /></a> -->

            <a href="../../Websitecss/images/help/admissionform1.jpg" download="admissionform1"><button class="btn btn-danger "><i class="fa fa-download"></i> &nbsp;download </button></a>
        </div><!-- Left Column /-->

        <div class="medium-6 small-12 columns grouppic">
            <h3 class="text-center">Download Admission form  back &nbsp;<i class="fa fa-download"></i> &nbsp;</h3>

            <a href="../../Websitecss/images/help/admissionform2.jpg" download="admissionform2"><img src="../../Websitecss/images/help/admissionform2.jpg" alt="admissionform2" class="img-responsive" /></a>

            <a href="../../Websitecss/images/help/admissionform2.jpg" download="admissionform2"><button class="btn btn-danger "><i class="fa fa-download"></i> &nbsp; Download </button></a>

        </div><!-- Left Column /-->

    </div><!-- Row /-->
</div>