
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- important for compatibility charset -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Afluex Educational Demo LUCKNOW</title>
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="Afluex Educational Demo is to create a better future for all children. We achieve this by maximising opportunities for children through holistic">
    <!-- important for responsiveness remove to make your site non responsive. -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FavIcon -->
    <link rel="shortcut icon" type="image/x-icon" href="../../Websitecss/images/favicon1.png">
	<!------------hover css----------------------------->
	<link href="../../Websitecss/css/demo-page.css" rel="stylesheet" media="all">
		<link href="../../Websitecss/css/hover.css" rel="stylesheet" media="all">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">
		
	<!----------------end------------------------------->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- Animation CSS -->
    <link rel="stylesheet" type="text/css" href="../../Websitecss/css/animate.css" media="all" />
    <!-- Foundation CSS File -->
    <link rel="stylesheet" type="text/css" href="../../Websitecss/css/foundation.min.css" media="all" />
    <!-- Font Awesome CSS File -->
    <link rel="stylesheet" type="text/css" href="../../Websitecss/css/font-awesome.min.css" media="all" />
    <!-- Owl Carousel CSS File -->
    <link rel="stylesheet" type="text/css" href="../../Websitecss/css/owl.carousel.css" media="all" />
    <!-- Lightbox IMage Gallery Plugin CSS -->
    <link rel="stylesheet" type="text/css" href="../../Websitecss/css/lightbox.min.css" media="all" />
    <!-- Theme Styles CSS File -->
    <link rel="stylesheet" type="text/css" href="../../Websitecss/css/style.css" media="all" />
    <!-- Google Fonts For Stylesheet --> 
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CMontserrat:400,700%7CRoboto+Slab:400%7CRoboto:900,700" rel="stylesheet" type="text/css" />

    <!-- REVOLUTION STYLE SHEETS Delete If not using Revolution Slider -->
    <link rel="stylesheet" type="text/css" href="lib/revolution/css/settings.css">
    <!-- REVOLUTION LAYERS STYLES -->
    <link rel="stylesheet" type="text/css" href="lib/revolution/css/layers.css">
    <!-- REVOLUTION NAVIGATION STYLES -->
    <link rel="stylesheet" type="text/css" href="lib/revolution/css/navigation.css">
   <style>
   .jumbotron {
background: #358CCE;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
padding-bottom: 24px; }
.jumbotron small {
color: #FFF;
}
.h1 small {
font-size: 24px;
}
   </style>
</head>
<body >
	<!-- Page Preloader -->
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
            	<div id="object"></div>
            </div>
        </div>
    </div>
    <!-- Page Preloader Ends /-->
	<!-- Main Container -->
    <div class="main-container">
        <!-- Top Bar Starts -->
        <div class="topBar topbar-new">
        	<div class="row">
            	<div class="large-6 medium-6 small-12 columns topbar-new text-left">
                	<ul class="menu text-left">
					<li><a href="../../home/commingsoon">Contact No:</a></li>
                        <li><a href="">(+91)&nbsp;7310000413 </a></li>
						
						
						
                       
                    </ul>
                </div><!-- Left Column Ends /-->
            	<div class="large-6 medium-6 small-12 columns">
                    <ul class="menu text-right">
                        <li><i class="fa fa-envelope"></i> info@afluex.com</li>
                        <!-- <li><i class="fa fa-clock-o"></i> Mond-Fri: 09:00 - 17:00</li> -->
						<li class="first-social social"><a href="../../home/commingsoon"><i class="fa fa-facebook"></i></a></li>
                        <li class="social"><a href="../../home/commingsoon"><i class="fa fa-twitter"></i></a></li>
                        <li class="social"><a href="../../home/commingsoon"><i class="fa fa-instagram"></i></a></li>
                       
                       <li><ul class="mobile-icon">
					    <li class="first-social social"><a href="../../home/commingsoon"><i class="fa fa-facebook"></i></a></li>
                        <li class="social"><a href="../../home/commingsoon"><i class="fa fa-twitter"></i></a></li>
                        <li class="social"><a href="../../home/commingsoon"><i class="fa fa-instagram"></i></a></li>
                       
					   </ul></li>
                    </ul>
                </div><!-- Right column Ends /-->
            </div><!-- Row ends /-->
        </div>
        <!-- Top bar Ends /-->
        <!-- Header Starts -->
        <div class="header header-new">
        	<div class="row">
                <div class="medium-4 small-12 columns">
                	<div class="logo">
                    	<a href="/home/index">
                        	<img src="../../Websitecss/images/logo.png" alt="Webful Education" />
                        </a> 
						
                    </div><!-- logo /-->
                </div><!-- left Ends /-->
				<div class="medium-8 small-12 columns">
                	<div class="logo">
                    	<h1 style="visibility:hidden;">Afluex Educational Demo</h1>
<h1 class="heading1">Afluex Educational Demo</h1>		
				
                    </div><!-- logo /-->
                </div><!-- left Ends /-->
               <!-- Left Column Ends /-->
            </div><!-- Row Ends /-->
        </div>
        <!-- Header Ends /-->
        <!-- Navigation Wrapper -->
        <div class="navigation-style-two">
            <div class="row nav-wrap">
                <!-- navigation Code STarts here.. -->
                <div class="top-bar">
                    <div class="top-bar-title">
                        <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
                            <a data-toggle><span class="menu-icon dark float-left"></span></a>
                        </span>
                    </div>
                    <nav id="responsive-menu">
                        <ul class="menu vertical medium-horizontal" data-responsive-menu="accordion medium-dropdown">
                            <li class="single-sub parent-nav"><a href="/home/index" class="hvr-sweep-to-bottom">Home</a> </li>
                            <li class="single-sub parent-nav">
                                <a href="/home/aboutus" class="hvr-sweep-to-bottom"> About us </a>
                                <!--  <ul class="child-nav menu vertical">
                                                <li><a href="about-us.html">About Institution</a></li>
                                                <li><a href="faq.html">Our mission & vision</a></li>
                                                <li><a href="gallery.html">Gallery</a></li>
            </ul> -->
                            </li>
                            <li class="single-sub parent-nav">
                                <a href="/home/addmission" class="hvr-sweep-to-bottom">Admission</a>
                                <!-- <ul class="child-nav menu vertical"> -->
                                <!-- <li><a href="bachlor.html">BACHELOR DEGREE</a></li>  -->
                                <!-- <li><a href="master.html">UPCOMING COURSES</a></li>									 -->
                                <!-- </ul> -->
                            </li>
                            <li class="single-sub parent-nav">
                                <a href="/home/commingsoon" class="hvr-sweep-to-bottom">Our Staff</a>
                            </li>
                            <li class="single-sub parent-nav">
                                <a href="/home/gallery" class="hvr-sweep-to-bottom">Our Gallery</a>
                            </li>
                            <li><a href="/home/contactus" class="hvr-sweep-to-bottom">Contact Us</a></li>
                            <li><a href="/Home/Login" class="hvr-sweep-to-bottom">Login</a></li>
                        </ul>
                    </nav>
                </div><!-- top-bar Ends -->
                <!-- Navigation Code Ends here -->
                <!-- <div class="search-wrap float-right">
                    <a href="../../home/commingsoon" class="search-icon-toggle" data-toggle="search-dropdown"><i class="fa fa-search"></i></a>
                </div><!-- search wrap ends --> 
               <!--  <div class="dropdown-pane" id="search-dropdown" data-dropdown data-auto-focus="true">
                  <input type="text" placeholder="Enter keyword and press enter .... " />
                </div> -->
            </div><!-- right Ends /-->
		</div>
        <!-- Navigation Wrapper Ends /-->
      
        <!-- information boxes starts -->
        <!-- <div class="information-boxes module"> -->
        	<!-- <div class="courses-info medium-12 small-12 columns"> -->
            	<!-- <div class=""> -->
				<!-- <ul style="list-style-type:none; "> -->
				<!-- <li class="pages_menu"> -->
				<!-- <a href="">home / comming soon</a> -->
				<!-- </li> -->
				
				<!-- </ul> -->
                	
                <!-- </div> -->
            <!-- </div><!-- courses column Ends /--> 
           
            <!-- <div class="clearfix"></div> -->
        <!-- </div> -->
        <!-- information boxes ends /-->
        <!-- Welcome Message -->
        <div class="welcome-message module">
        	
                   <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8" style="padding:0px 0px  0px 0px;">
                        <img src="../../Websitecss/images/comming.gif" class="animated zoomIn img-responsive">
                    </div>
                    <div class="col-md-2">
                    </div>
 </div>
        </div>
        <!-- Welcome Message Ends /-->
        <!-- Our Courses -->
       
        <!-- Footer -->
         <div class="footer">
            <div class="footerTop">
                <div class="row">
                    <div class="large-3 medium-6 small-12 columns footer-widget">
                        <h2>About Us</h2>
                        <div class="tx-div"></div>
                        <p class="text-justify">The  mission of Afluex Educational Demo is to create a better future for all children. We achieve this by maximising opportunities for children through holistic
						</p>
						<a href="../../home/commingsoon">Read More</a>
                    </div><!-- Widget 1 ends /-->
                    <div class="large-3 medium-6 small-12 columns footer-widget quick-links">
                        <h2>Quick Links</h2>
                        <div class="tx-div"></div>
                        <ul  class="menu vertical">
                            <li><a href="#">Admissions</a></li>    
                            <li><a href="#">Contact US</a></li>
                            <li><a href="#">Teachers</a></li>
                            <li><a href="#">School Life</a></li>
                            <li><a href="#">Upcoming Events</a></li>
                        </ul>
                        <ul  class="menu vertical">
                            <li><a href="#">Students</a></li>    
                            <li><a href="#">School</a></li>
                            <li><a href="#">Transport</a></li>
                            <li><a href="#">Principle</a></li>
                            <li><a href="#">Policy</a></li>
                        	<li><a href="#">Terms & Conditions</a></li>
                        </ul>
                    </div><!-- Widget 2 Ends /-->
                    <div class="large-3 medium-6 small-12 columns footer-widget">
                        <h2>Institute Hours</h2>
                        <div class="tx-div"></div>
                        <ul class="vertical office-hours">
                            <li>Monday: 07:00 - 1:00 </li>
                            <li>Tuseday: 07:00 - 1:00</li>
                            <li>Wednesday: 07:00 - 1:00</li>
                            <li>Thursday: 07:00 - 1:00</li>
                            <li>Friday: 09:00 - 11:00</li>
                           
                        </ul>
                    </div><!-- Widget 3 Ends /-->
                    <div class="large-3 medium-6 small-12 columns footer-widget">
                    <div class="textwidget">
                        <ul class="address">
                            <li>
                                <i class="fa fa-home"></i>
                                <h4>Address:</h4>
                                <p style="font-size:12px;">D-54 Vibhuti Khand Lucknow LUCKNOW</p>
                            </li>
                            <li>
                                <i class="fa fa-mobile"></i>
                                <h4>Phone:</h4>
                                <p>(+91) 7310000413</p>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <h4>Email:</h4>
                                <p style="font-size:12px;">info@afluex.com</p>
                            </li>
                        </ul>
                        <hr>
                        <div class="socialicons">
                            Social: 
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="../../home/commingsoon"><i class="fa fa-twitter"></i></a>
                            <a href="../../home/commingsoon"><i class="fa fa-google"></i></a>
                        </div><!-- Social Icons /-->
                    </div><!-- text widget /-->
                </div><!-- widget 4 /-->                
                    <div class="clearfix"></div>
                </div><!-- Row Ends /-->
            </div><!-- footerTop Ends here.. -->
            <div class="footerbottom">
                <div class="row">
                    <div class="medium-6 small-12 columns">
                        <div class="copyrightinfo">2019&copy; <a href="../../home/commingsoon">Afluex Educational Demo</a> All Rights Reserved.</div>
                    </div><!-- left side /-->
                    <div class="medium-6 small-12 columns hide-for-small-only">
                        <div class="pull-right">
                            <ul class="menu">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                    </div><!-- Right Side /-->
                </div><!-- Row /-->
            </div><!-- footer Bottom /-->
        </div>
        <!-- Footer Ends here /-->
    </div>
    <!-- Main Container /-->
    <a href="#top" id="top" class="animated fadeInUp start-anim"><i class="fa fa-angle-up"></i></a>
    <!-- Including Jquery so All js Can run -->
    <script type="text/javascript" src="../../Websitecss/js/jquery.js"></script>
    <!-- Including Foundation JS so Foundation function can work. -->
    <script type="text/javascript" src="../../Websitecss/js/foundation.min.js"></script>
    <!-- Including Owl Carousel File -->
    <script type="text/javascript" src="../../Websitecss/js/owl.carousel.min.js"></script>
    <!-- Webful JS -->
    <script src="../../Websitecss/js/webful.js"></script>
    <!-- Including LightBox Plugin Delete if not using -->
    <script src="../../Websitecss/js/lightbox.min.js"></script>
    <!-- REVOLUTION JS FILES Delete if Not Using Revolution Slider -->
	<script type="text/javascript" src="../../Websitecss/lib/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="../../Websitecss/lib/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
        (Load Extensions only on Local File Systems ! 
         The following part can be removed on Server for On Demand Loading) -->	
    <script type="text/javascript" src="../../Websitecss/lib/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="../../Websitecss/lib/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="../../Websitecss/lib/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="../../Websitecss/lib/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="../../Websitecss/lib/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="../../Websitecss/lib/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="../../Websitecss/lib/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="../../Websitecss/lib/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="../../Websitecss/lib/revolution/js/extensions/revolution.extension.video.min.js"></script>
</body>
</html>
