
@{
    ViewBag.Title = "staff";
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}

<section class="breadcrumb-area d-flex  p-relative align-items-center" style="background-image: url('../../AssetsWeb/img/bg/bdrc-bg.png'); ">

    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-12 col-lg-12">
                <div class="breadcrumb-wrap text-left">
                    <div class="breadcrumb-title">
                        <h2>Our Staff</h2>
                    </div>
                </div>
            </div>
            <div class="breadcrumb-wrap2">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/home/index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Our Staff</li>
                    </ol>
                </nav>
            </div>

        </div>
    </div>
</section>
<!-- breadcrumb-area-end -->
<!-- team-area -->
<section class="team-area2 fix p-relative pt-120 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 p-relative">
                <div class="section-title center-align mb-50 text-center wow fadeInDown animated" data-animation="fadeInDown" data-delay=".4s">
                    <h5><i class="fal fa-graduation-cap"></i> Our Teacher</h5>
                    <h2>
                        Our Expert Teacher
                    </h2>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="single-team mb-40">
                    <div class="team-thumb">
                        <div class="brd">
                            <a href="team-single.html"><img src="~/AssetsWeb/img/team/team01.jpg" alt="img"></a>

                        </div>
                    </div>
                    <div class="team-info">
                        <h4><a href="team-single.html">Howard Holmes</a></h4>
                        <p>CEO & Founder</p>
                        <div class="team-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li> <a href="#"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="single-team mb-40">
                    <div class="team-thumb">
                        <div class="brd">
                            <a href="team-single.html"><img src="~/AssetsWeb/img/team/team02.jpg" alt="img"></a>
                        </div>
                    </div>
                    <div class="team-info">
                        <h4><a href="team-single.html">Ella Thompson</a></h4>
                        <p>Kids Teacher</p>
                        <div class="team-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li> <a href="#"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="single-team mb-40">
                    <div class="team-thumb">
                        <div class="brd">
                            <a href="team-single.html"><img src="~/AssetsWeb/img/team/team03.jpg" alt="img"></a>
                        </div>

                    </div>
                    <div class="team-info">
                        <h4><a href="team-single.html">Vincent Cooper</a></h4>
                        <p>Kids Teacher</p>
                        <div class="team-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li> <a href="#"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="single-team mb-40">
                    <div class="team-thumb">
                        <div class="brd">
                            <a href="team-single.html"><img src="~/AssetsWeb/img/team/team04.jpg" alt="img"></a>
                        </div>

                    </div>
                    <div class="team-info">
                        <h4><a href="team-single.html">Danielle Bryant</a></h4>
                        <p>Kids Teacher</p>
                        <div class="team-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li> <a href="#"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- team-area-end --> 

